@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    @apply font-sans text-biru-4;
}
.link-wrapped {
    /* buat bungkus div dengan link */
    @apply cursor-pointer inset-0 z-20 absolute;
    content: "";
}
/* .container {
    padding: 30px 130px;
} */
.header-clipping {
    @apply relative;
    /* overflow-y: hidden; */
    height: 634px;
}
.header-clipping .container {
    @apply relative;
    z-index: 3;
}
.header-clipping .sunshine {
    @apply absolute;
    height: 90%;
    width: 512px;
    opacity: 0.8;
    transform: translateX(-50%);
    -webkit-clip-path: polygon(46% 0%, 82% 0%, 67% 100%, 0% 100%);
    clip-path: polygon(46% 0%, 82% 0%, 67% 100%, 0% 100%);
    background: transparent
        linear-gradient(130.09deg, #3d47bd 0%, #2e37a4 50.8%);
}
.header-clipping::before {
    @apply w-full bg-biru inset-0 absolute;
    content: "";
    height: 648px;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}
/* .header_course_detail {
    background-image: url("/images/bg-header-course-detail.png");
    background-repeat: no-repeat;
    background-size: cover;
} */

/* landing page course card */
.course figure.course-image {
    overflow: hidden;
    perspective: 10000px;
    position: relative;
}
.course figure.course-image svg.play-btn {
    @apply absolute w-[46px] h-[46px] top-[calc(50%-23px)] left-1/2;
    /* transform-origin: bottom; */
    opacity: 0;
    transform: translateY(0%) translateX(-50%) rotate(-180deg);
    margin-top: 60px;
    @apply transition-all duration-300;
}

.course:hover figure.course-image svg.play-btn {
    opacity: 1;
    margin-top: 0;
    transform: translateY(0%) translateX(-50%) rotate(0);
}
.course figure.course-image::before {
    content: "";
    @apply bg-indigo-900 absolute inset-0 opacity-0 transition-all duration-300;
}
.course:hover figure.course-image::before {
    /*  */
    @apply opacity-60;
}

/* Category Card */
.category-card:hover {
    @apply border-0 bg-biru-2;
    filter: drop-shadow(0px 6px 15px rgba(77, 85, 188, 0.4));
}
.category-card:hover .category-icon {
    @apply fill-white;
}
.category-card:hover .category-name {
    @apply text-white;
}
.category-card:hover .category-courses {
    @apply text-gray-300;
}

.video-wrapper iframe {
    @apply absolute inset-0 top-0 left-0 w-full h-full;
}

.course-price {
    transition: all ease-in-out 0.45s;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -8px 15px rgba(0, 0, 0, 0.1);
}

.course-price-enter {
    opacity: 0;
    bottom: -100%;
}

.course-price-enter-active {
    opacity: 1;
    bottom: 0;
}

.course-price-exit {
    opacity: 1;
    bottom: 0;
}
.course-price-exit-active {
    opacity: 1;
    bottom: -100%;
}

.course-price-exit-done {
    bottom: 0;
    opacity: 1;
    position: fixed;
}

.modal-close {
    @apply absolute right-0 cursor-pointer inline-block transition-all ease-in hover:bg-orange  rounded-full;
    width: 30px;
    height: 30px;
}

.modal-close::before,
.modal-close::after {
    content: "";
    @apply absolute bg-white hover:bg-gray-700;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 1px;
    margin-left: -25%;
}

.modal-close::before {
    transform: rotate(45deg);
}
.modal-close::after {
    transform: rotate(-45deg);
}

.overlay {
    @apply transition-all duration-500;
}

.overlay-enter {
    opacity: 0;
}
.overlay-enter-active {
    opacity: 1;
}
.overlay-exit {
    opacity: 1;
}
.overlay-exit-active {
    opacity: 0;
}
.overlay-enter-done {
    opacity: 1;
}

.accordion-item {
    @apply transition-all duration-500 ease-in;
}

.accordion-item-enter {
    opacity: 0;
}
.accordion-item-enter-active {
    opacity: 1;
}
.accordion-item-exit {
    opacity: 1;
}
.accordion-item-exit-active {
    opacity: 0;
}

svg#svg-star {
    position: absolute;
    height: 0;
    width: 0;
    left: -9999px;
    bottom: 9999px;
}

.stars {
    @apply relative inline-flex min-w-[200px];
}
.stars .star {
    @apply absolute inline-flex;
    clip-path: url(#star);
}

.stars .star:not(.placeholder) {
    z-index: 2;
    @apply bg-yellow-400;
}

.stars .star.placeholder {
    z-index: 1;
    @apply bg-gray-200;
}
